extends layout

block content

    .page-header
        h1 naptime - the npm dependency viewer

    .row
        form.well(method="post")
            #dropzone
                #droptext drop <strong>package.json</strong> here
            output#list
            fieldset
                legend or paste your package.json below 
                    small
                        a(href="#sample") (load sample)
                .control-group
                    label.control-label(for="packagetextarea")
                    textarea.span10#packagetextarea(name="data", rows=20)= data
                input.btn.btn-large(type="submit",value="Send")

    h2(data-bind='text: package().name')

    section.package-graph(data-deps=deps, data-bind='foreach: package().dependencies')
        .package
            h2(data-bind='text: name')
            .versions(data-bind='foreach: versions')
                .version(data-bind="attr: {'data-time': released}")
                    label(data-bind='text: version')
