extends layout

block content

    .subhead
        h2 Easily view your projects dependencies
        h2 See how current your project is

    form.well(method="post")

        fieldset
            legend Paste your package.json
            .control-group
                label.control-label(for="packagetextarea")
                textarea.span10#packagetextarea(name="data", rows=5)= data
            legend or...
            #dropzone
                #droptext drop <strong>package.json</strong> here

        fieldset
            input.btn.btn-large(type="submit",value="Send")

    small.pull-right
        a(href="#sample") (load sample)

    h2(data-bind='text: package().name')

    section.package-graph(data-deps=deps, data-bind='foreach: package().dependencies')
        .package
            h2(data-bind='text: name')
            .versions(data-bind='foreach: versions')
                .version(data-bind="attr: {'data-time': released}")
                    label(data-bind='text: version')
