extends layout

block content

    .subhead
        h2 View your project's dependencies
        h2 See how current your project is

    form.well(method="post")

        fieldset
            legend Paste your package.json
                small.pull-right
                    a(href="#sample") (load sample)
            .control-group
                label.control-label(for="packagetextarea")
                textarea.span10#packagetextarea(name="data", rows=5)= data
            legend or...
            #dropzone
                #droptext drop <strong>package.json</strong> here
            input.btn.btn-large(type="submit",value="Send")

    h2(data-bind='text: package().name')

    section.package-graph(data-deps=deps, data-bind='foreach: package().dependencies')
        .package
            h2(data-bind='text: name')
            p(data-bind='text: diffInfo')
            .versions.clearfix(data-bind='foreach: versions')
                .version(data-bind="attr: {'style': 'right:'+position()+'px; width:'+length()+'px;'}")
                    label(data-bind='text: version')
