extends layout

block content

    h1(data-name=name) Package: #{name}

    hr

    p
        | Name:
        span(data-bind="text: package.name") packages name from ko

    p
        | Version:
        span(data-bind="text: package.version") packages version from ko

    ul
        li one
        li two
        li three
