.main{margin-top:50px;}
#dropzone{width:100%;border:3px dashed #ccc;background:#fefefe;margin-bottom:20px;}
#droptext{text-align:center;padding:20px;font-size:1.3em;}
#packagetextarea{width: 99%;}
.footer{border-top:1px solid #ccc;margin-top:20px;}
